/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 0 clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  color: var(--mainmargin-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--card-text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  border: 2px solid var(--main-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  color: var(--main-color);
  background-color: var(--background-color);
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__logo:focus-visible {
  outline: none;
}

.header__logo-text {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 25px 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  display: flex;
}

.theme-menu__button {
  position: relative;
  display: flex;
  border: none;
  padding: 0;
  padding-inline-start: 20px;
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  margin-inline-end: 6px;
  animation: move-arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  padding-inline-start: 0;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--main-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left bottom;
  inset-inline-start: 20px;
  inset-block-end: -2px;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(0.8);
}

.theme-menu__button:focus-visible {
  outline: none;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__content-item {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

.main__content-card-title {
  margin: 0 10px;
  padding: 5px 0;
  color: var(--main-color);
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-title-font-weight);
}

.main__content-card-image-group {
  display: flex;
  flex-direction: column;
  position: relative;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
}

.main__content-card-image {
  object-fit: cover;
  object-position: center;
}

.card-image {
  filter: opacity(99.9%);
}

.good {
  filter: sepia(50%);
}

.fine {
  filter: saturate(250%);
}

.nice {
  filter: hue-rotate(0.5turn);
}

.great {
  filter: contrast(250%);
}

.perfect {
  filter: grayscale(80%);
}

.excellent {
  filter: blur(2px);
}

.fantastic {
  filter: grayscale(20%) saturate(50%) hue-rotate(0.5turn);
}

.main__content-card-image-label {
  position: absolute;
  top: 0;
  right: 0;
  align-self: flex-end;
  margin-inline-end: clamp(0.8125rem, 0.5044rem + 1.3146vw, 1.6875rem);
  margin-block-start: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--card-image-label-stroke-color),
    0 1px var(--card-image-label-stroke-color),
    1px 0 var(--card-image-label-stroke-color),
    0 -1px var(--card-image-label-stroke-color);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--card-image-label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--card-image-label-stroke-color))
) {

  .main__content-card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-image-label-stroke-color);
  }
}

.main__content-card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 26px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--card-text-font-weight);
}

.main__content-card-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  block-size: 100%;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.sparks {
  opacity: 0;
}

.like-icon .heart .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .heart .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .heart .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .heart .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s alternate;
}

.button-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.button-style:focus {
  outline: none;
}

.button-style:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button-style:after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  inline-size: 100%;
  block-size: 100%;
}

.button-style:hover::after {
  transform: scaleX(1);
}

.card__like-button {
  padding: 11px 0;
  inline-size: 130px;
}

.button__text {
  z-index: 1;
  padding: 0;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  mix-blend-mode: difference;
}

.main__content-card-button-text {
  line-height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  gap: 8px;
  margin: 50px 0 100px;
  padding: 15px 20px;
}

.footer__button-icon {
  z-index: 1;
  color: var(--button-text-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

#dialog {
  border: 2px solid var(--main-color);
  padding: 30px clamp(2.48125rem, 2.6947rem + -0.9108vw, 1.875rem);
  color: var(--main-color);
  background-color: var(--background-color);
  inline-size: clamp(21.3125rem, 20.9824rem + 1.4085vw, 22.25rem);
}

#dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  color: var(--main-color);
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  display: flex;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: clamp(12.905rem, 11.5827rem + 3.3803vw, 14.625rem);
}

.dialog__button {
  padding: 11px 0;
  inline-size: 100%;
}

.dialog__button-text {
  line-height: 13px;
  text-transform: uppercase;
}

#dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
